```
# WordPress theme development
wp-content/themes/clean-theme/*.css
wp-content/themes/clean-theme/*.js
wp-content/themes/clean-theme/*.php
wp-content/themes/clean-theme/assets/
wp-content/themes/clean-theme/inc/
wp-content/themes/clean-theme/template-parts/

wp-content/themes/my-wp-theme/*.css
wp-content/themes/my-wp-theme/*.js
wp-content/themes/my-wp-theme/*.php
```